.quadrado{
width: 100px;
height: 500px;
background-color: black;
border-radius: 15px;

}

.pai{
    
    justify-content: space-around;
    margin-bottom: 10px;
}

@media (min-width: 426px){
    .pai{
        display: flex;
        flex-wrap: wrap;
    }
}